<div class="card shadow my-5">
    <div class="card-body">
        <form class="form-group" method="post">
             <input class="form-control" placeholder="Category Name" type="text" name="Name"/>
             <br/>
             <input type="submit" class="btn-primary btn-outline-success" value="Create"/>
        </form>
    </div>
</div>
 