<div class="card shadow my-5">
    <div class="card-body">
        <form class="form-group" method="post">
            <div class="row">
                <div class="col-lg-12">
                      <input class="form-control" placeholder="Product Name" type="text" name="Name"/>
                    </div>
                 <div class="col-lg-4">
                      <input class="form-control" placeholder="Price" type="text" name="Price"/>
                  
                 </div>
                  <div class="col-lg-4">
                      <input class="form-control" placeholder="Quantity" type="text" name="Quantity"/>
                  
                 </div>
                   <div class="col-lg-4">
                      <input class="form-control" placeholder="Discount" type="text" name="Discount"/>
                  
                 </div>
                    <div class="col-lg-12">
                      <textarea id="editor" class="form-control" placeholder="Description" type="text" name="Description"></textarea>
                  
                 </div>
                                  
               </div>

               <input type="submit" class="btn-primary btn-outline-success" value="Create"/>
        </form>
    </div>
</div>

@section Scripts {
<script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>

}